    h1{
    color:midnightblue
   }
   *{
     border:solid
   }
   .style1{
     background-color: gold;
     display:flex;
     justify-content:space-between;
   }
   .grid{
     display:flex;
     justify-content:space-evenly;
     flex-wrap:wrap;
   }
   .footer{
     display:flex;
     justify-content:flex-end;
   }
   body{
    background-color:#808080;
   }